<div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
  <span class="fs-4">Filtros</span>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <label for="title">Título</label>
      <input
        (input)="filterByTitle()"
        type="text"
        id="titleValue"
        name="titleValue"
        [(ngModel)]="titleValue"
      />
    </li>
    <li>
      <label for="price">Precio</label>
      <input
        (input)="filterByPrice()"
        type="text"
        id="price"
        name="price"
        [(ngModel)]="priceValue"
      />
    </li>
    <li>
      <p>Rango Precio</p>
      <label for="">Precio Minimo</label>
      <input type="text" />
      <label for="">Precio Máximo</label>
      <input type="text" />
    </li>
  </ul>
</div>
